#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.card {
  background-color: black;
  padding: 2em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: fit-content;
}

.instructions > h1 {
  margin-bottom: 0rem;
  padding-bottom: 0rem;
}

.instructions > p {
  margin-bottom: 3rem;
  margin-top: 0.5rem;
  padding-top: 0px;
  max-width: 44ch;

}

.dice {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  margin-bottom: 3rem;
  justify-items: center;

}

.dice > button {
  width: 50px;
  height: 50px;
  
}

.rollButton {
  background-color: #614102;
  width: 120px;
  align-self: center;
}

.frozen {
  background-color: #9abf06;
  color:aliceblue;
}

#roll {
  color:#c2860d;
  font-weight: 800;
}

#click {
  color: #9abf06;
  font-weight: 800;
}